:root {
    --Neutral-white: #FFFFFF;
    --Neutral-black: #000000;
    --Primary-100: #222;
    --Primary-200: #343A4E;
    --Primary-300: #585D72;
    --Neutral-Grey-50: #F1F1F7;
    --Neutral-Grey-100: #D3D3DC;
    --Neutral-Grey-200: #F6F6FA;
    --Neutral-Grey-300: #E1E1E8;
    --Neutral-Grey-400: #C4C5CF;
    --Success-100: #B1FFC7;
    --Danger-100: #FFBFB1;
}